<article class='student d-flex flex-row justify-content-between' [class.first]="index === 0">
  <div class='d-flex align-items-center student__image'>
    <div class='student__check d-flex align-items-center me-5'><input type='checkbox' class='form-check-input'></div>
    <img [src]="'assets/students/123456.png'" [alt]="'Foto do(a)' + student.nome">
  </div>
  <div class='d-flex align-items-center student__name'><span>{{student.nome}}</span></div>
  <div class='d-flex align-items-center student__id'><span>{{student.matricula}}</span></div>
  <div class='d-flex align-items-center student__button'><a [routerLink]='[student.matricula]'>Validar</a></div>
</article>
