/**
VARIABLES THEME
 */

$base-body-color: #b3b6bc;
$base-body-bg: #242e40;

/**
alphas
 */
$base-1-alpha: rgba(28, 38, 54, .3);


/**
BACKGROUNDS
 */
$bg-black: #1A1A1C;
$bg-red: #9B1536;
$bg-red-two: #85132F;
$bg-grey: #3F3D52;
$bg-grey-two: #D2D1D7;
$bg-grey-three: #E0E4EB;
$bg-green: #039200;
$bg-red-three: #D40034;
$bg-green-two: #028200;
$bg-red-four: #C40031;

/**
COLORS
 */
$cl-01: #1C1939;
$cl-02: #2C2948;
$cl-03: #9EA6BE;
