<div class='students__filter offset-md-5 col-md-2 mt-4'>
  <div class="input-group">
    <div class="input-group-text"><em class="bi bi-search"></em></div>
    <input [(ngModel)]="search" type="text" class="form-control" placeholder="Pesquisar">
  </div>
</div>

<div class='container mt-4'>
  <div class='row'>
    <div class='col-md-12' *ngIf="students.length">
      <app-student *ngFor='let student of students | appFilter:search; let i = index;' [student]='student' [index]='i'></app-student>
    </div>
  </div>
</div>
