<div class='certificate container-fluid vh-100 overflow-scroll' *ngIf="certificates">
  <ng-container *ngFor="let certificate of certificates">
  <div class='row align-items-start'>
    <div class='certificate__box mt-3 mt-lg-5 offset-md-3 col-md-6 col-xs-12'>

      <div class='certificate__back'>
        <a (click)='back()'><img src='assets/back-button.png' alt='Voltar Página'></a>
      </div>

      <div class='certificate__header d-flex justify-content-start'>
        <div class='certificate__image'>
          <img class='d-flex' [src]="'assets/students/' + student.matricula + '.png'" [alt]="'Foto do(a)'">
        </div>
        <div class='certificate__info d-flex flex-column align-items-center align-self-center'>
          <span>Estudante</span>
          <span>{{student.nome}}</span>
        </div>
      </div>

      <div class='certificate__line d-flex justify-content-around align-items-center'>
        <div class='d-flex ball'></div>
        <div class='d-flex line'></div>
        <div class='d-flex ball'></div>
      </div>

      <div class='certificate__info__student mt-3 d-flex justify-content-center justify-content-around'>
        <div class='d-flex flex-column'>
          <span>Matrícula</span>
          <span>{{student.matricula}}</span>
        </div>
        <div class='d-flex flex-column'>
          <span>Categoria</span>
          <span>{{certificate.category}}</span>
        </div>
        <div class='d-flex flex-column'>
          <span>Horas</span>
          <span>{{ certificate.hours }}hs</span>
        </div>
      </div>

      <div class='certificate__download d-flex justify-content-center align-items-center'>
        <a href='#'>Baixar Certificado</a>
      </div>

      <div class='certificate__buttons d-flex justify-content-center align-items-center flex-row'>
        <a href='#'>Validar</a>
        <a href='#'>Não Validar</a>
      </div>

    </div>
  </div>
  </ng-container>
</div>

